header {
    display: flex;
    flex-direction: row;
}

body {
    font-family: sans-serif;
}

#logo {
    width: 5rem;
    height: 5rem;
    padding-left: 5%;
    padding-right: 5%;
}

h2 {
    padding-top: 2%;
    text-align: center;
    color: white;
}

main {
    background-color: rgb(150, 28, 12);
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-radius: 5px;
    margin: 5%;
    padding: 2%;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

article>img {
    width: 125px;
    height: 200px;
}